@model IEnumerable<CuentasXPagar1.Models.Transaccione>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row">
        <div class="col-sm-6">
            <h1>Index</h1>
        </div>
        <div class="col-sm-6" style="text-align: end; ">
            <a class="btn-primary" asp-action="AddUpdateTransaccion" style="padding:5px;">Contabilizar</a>
        </div>
    </div>
</div>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuxiliarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentasDb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaCr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsientoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuxiliarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentasDb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaCr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AsientoId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
